<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <!-- file appender -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\ErrorlogFile.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="1MB" />
      <datePattern value=".yyyy.MMM.dd'.log'" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %M -%L %newline %message %newline %newline" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <!--Razor Payment Crediential-->
    <!--online-->
    <!--<add key="razorKey" value="rzp_live_pAKEJ7HxaRkA5W"/>
    <add key="razorSecret" value="4jKCObLVsGxZ0NaSHJyV348U"/>-->

    <!--offline-->
    <add key="razorKey" value="rzp_test_ERVr7EOp6kqmYn" />
    <add key="razorSecret" value="4vindSSP6XFvOHwRybpx1yPP" />


    <add key="userTypeId" value="2" />
    <add key="docfolderpath" value="https://dheya.com/cdf-dashboard/doc/cdf-doc/" />

    <!--Directory Path-->
    <add key="resumePath" value="~/doc/resume/" />
    <add key="imageFormalPath" value="~/doc/formalImg/" />
    <add key="imageCasualPath" value="~/doc/casualImg/" />
    <add key="adminNDAPath" value="~/doc/Admin-NDA/" />
    <add key="policyDocumentPath" value="~/doc/Policy_Document/" />
    <!--<add key="docfolderpath" value="https://www.dheya.com/cdf-dashboard/Documents/" />-->
    <!--<add key ="FolderPath" value ="Profilepic"/>-->
    <add key="userTypeId" value="2" />
    <add key="docfoldername" value="doc/cdf-doc/" />

    <!--SMS Details-->
    <add key="SMSUserId" value="2000167436" />
    <add key="SMSPassword" value="xzreMXXv5" />

    <!--Session Complete OTP SMS to send Student-->
    <add key="sessionCompleteOTP" value="Dear {Name}, Your session completion OTP is {OTP}" />
    <!--<add key="sessionAcceptmsg" value="Dear {Name},Your career guidance session is scheduled ,kindly login and check your session details" />-->
    <add key="sessionAcceptmsg" value="Dear {Name},&#xA;Your Career Guidance Session has been scheduled on {sessiondate} at {sessionTime}.&#xA;Kindly login to Dheya Career Portal to check your session details.&#xA;Thank you,&#xA;Dheya Team." />


    <!--Audio Base Test-->
    <add key="fileExtension" value=".mp3" />
    <add key="audioFolderName" value="Audio" />
    <add key="audioAvailable" value="en,hi,mr" />

    <!--Email details-->

      <!--<add key="Host" value="smtp.gmail.com"/>
   <add key="EnableSsl" value="true"/>
   <add key="UserName" value="support@dheya.com"/>
   <add key="Password" value="ucaellvkfhxwor"/>
   <add key="DisplayName" value="Dheya.com"/>
   <add key="Port" value="587"/>-->  

    <add key="Host" value="smtp.gmail.com" />
    <add key="EnableSsl" value="true" />
    <add key="UserName" value="support.tech@dheya.com" />

<add key="Password" value="kglnnhvamtojscoa" />
    <!--<add key="Password" value="vxshheucmgworwcf"/>-->
    <add key="DisplayName" value="Dheya.com" />
    <add key="Port" value="587" />

    <!--SMS Details-->
    <add key="SMSUserId" value="2000167436" />
    <add key="SMSPassword" value="xzreMXXv5" />

    <!--NDA Details-->
    <add key="string_one" value=", residing at" />
    <add key="string_two" value="hereinafter called “Second Party”" />

    <!--Email and Sms Template Details -->

    <!--Email CDFAddManually -->
    <add key="CDFAddManuallyTemplatePath" value="~/Templates/CDFAddManually.html" />
    <add key="CDFAddManuallySubject" value="You are Migrated to New CDF dashboard" />
    <add key="DashboardLink" value="https://www.dheya.com/cdf-dashboard" />
    <add key="CDFAddManuallySmsTemplate" value="Dear {CDF}, you are Migrated to new CDF dashboard, Please Login to review new features." />

    <!--CDF Registration Template-->
    <add key="CDFRegistrationCompleteTemplatePath" value="~/Templates/CDFRegistrationComplete.html" />
    <add key="CDFRegistrationCompleteSubject" value="CDF Registration Completion and Dashboard Login" />
    <add key="CDFRegistrationCompleteSmsTemplate" value="Thanks for registering with us, Login to the dashboard and complete your profile." />

    <!--OTP Template-->
    <add key="OTPEmailTemplatePath" value="~/Templates/OTPEmailTemplate.html" />
    <add key="OTPEmailSubject" value="OTP to Register with Dheya" />

    <!--Test Complete Template-->
    <add key="CDFTestCompleteEmailTemplatePath" value="~/Templates/CDFTestComplete.html" />
    <add key="CDFTestCompleteEmailSubject" value="Successfully Completion of Personality Assessment Test" />
    <add key="CDFTestCompleteSmsTemplate" value="Dear {CDF}, You have completed the test, We will review and update you on next step." />

    <!--Admin Approval Template-->
    <add key="CDFApprovalEmailTemplatePath" value="~/Templates/CDFApproval.html" />
    <add key="CDFApprovalEmailSubject" value="Candidature Approved for CDF Training" />
    <add key="CDFApprovalSmsTemplate" value="Dear {CDF}, your candidature approved for CDF training, make payment to reserve your place." />

    <!--NDA Template-->
    <add key="NDAEmailTemplatePath" value="~/Templates/NDAEmailTemplate.html" />
    <add key="NDAEmailSubject" value="Registration with Dheya and NDA Acceptance" />
    <add key="NDASmsTemplate" value="Dear  {CDF}, Thanks for your acceptance for NDA, A copy of NDA will be sent you through the email." />
 
    <!--reset Password Template-->
    <add key="ResetPasswordURL" value="https://localhost:11703/resetpassword.aspx?tkn=" />
    <add key="ResetPasswordEmailTemplatePath" value="~/Templates/ResetPasswordTemplate.html" />
    <add key="ResetPasswordEmailSubject" value="CDF Dashboard Password Reset" />
    <add key="ResetPasswordSmsTemplate" value="Dear {CDF}, As requested, your password reset link sent to your email." />

    <!--Welcome Template-->
    <add key="WelcomeEmailTemplatePath" value="~/Templates/WelcomeEmailTemplate.html" />
    <add key="WelcomeEmailTemplateSubject" value="Welcome to Dheya’s Career Development Facilitator Community" />
    <add key="WelcomeEmailSmsTemplate" value="Dear {CDF}, Welcome to Dheya's CDF community. Please check your mail for further datails." />

    <!--Email Verified Template (cdf gots email - your email id is verified)-->
    <add key="CDFEmailVerificationTemplatePath" value="~/Templates/CDFEmailVerifiedTemplate.html" />
    <add key="CDFEmailVerificationSubject" value="Email Verification Register with Dheya" />
    <add key="CDFEmailVerificationSMS" value="Hi, Your email Id Verified, Click to register at https://www.dheya.com/cdf-dashboard/login.aspx" />

    <!--Payment Template-->
    <add key="CDFPaymentEmailTemplatePath" value="~/Templates/CDFPaymentEmailTemplate.html" />
    <add key="CDFPaymentEmailTemplateSubject" value="Payment Received for CDF Training" />
    <add key="CDFPaymentSmsTemplate" value="Dear {CDF}, We have received INR {} and your place for training is reserved." />

     <!--New custom Payment Template-->
    <add key="NewCustomPaymentEmailTemplatePath" value="~/Templates/NewCustomPaymentEmailTemplate.html" />
    <add key="NewCustomPaymentEmailTemplateSubject" value="Payment Required for CDF Training" />

    <!--custom Payment Template-->
    <add key="CustomPaymentEmailTemplatePath" value="~/Templates/CustomPaymentEmailTemplate.html" />
    <add key="CustomPaymentEmailTemplateSubject" value="Payment Required for CDF Training" />
    <add key="CustomPaymentSmsTemplate" value="Dear {CDF} , Please login to the dashboard and proceed for payment to reserve your place for CDF training." />

    <!--custom Payment Template for Student added by Dhananjay 4 June 2018-->
    <add key="StudentCustomPaymentEmailTemplatePath" value="~/Templates/UserRegistration.html" />
    <add key="StudentCustomPaymentEmailTemplateSubject" value="Payment Required for Purchase Product." />
    <add key="StudentCustomPaymentSMS" value="Dear {Name}, Please register with given link and pay to plan your career. https://www.dheya.com/cpa/Student/student-registration.aspx?uid={uId}" />
    
    
    <add key="ChartImageHandler" value="storage=file;timeout=20;"/>
    <add key="from" value="support@dheya.com" />
    <add key="pass" value="goal@2016" />
    <add key="admin" value="sachin.patil@dheya.com" />

    <!--TestReport and Graph Download-->
    <!--online-->
    <add key="TestReportlink" value="https://dheya.com/proto/corptest/ReportDownload.aspx?c_id=" />
    <add key="ReportForPrintlink" value="https://dheya.com/proto/Corptest/DownloadPrintReport.aspx?c_id=" />
    <add key="Graphlink" value="https://www.dheya.com/proto/corptest/DownloadGraph.aspx?c_id=" /> 
    <!--<add key="Graphlink" value="https://localhost:4114/corptest/DownloadGraph_CDF.aspx?c_id="/>-->

    <!--offline-->
    <!--<add key="TestReportlink" value="http://localhost:8478/corptest/ReportDownload.aspx?c_id=" />
    <add key="ReportForPrintlink" value="http://localhost:8478/Corptest/DownloadPrintReport.aspx?c_id=" />
    <add key="Graphlink" value="http://localhost:8478/corptest/DownloadGraph.aspx?c_id=" />-->

    <!--<add key="View" value="https://localhost:5968/Candidate/viewGraph.aspx?c_id="/>
    <add key="Download" value="https://dheya.com/corptest/Admin/Candidates_admin/DownloadGraph.aspx?c_id="/>
    <add key="PDReport" value="https://dheya.com/corptest/PDReport.aspx?c_id="/>
    <add key="CompetencyReport" value="https://dheya.com/corptest/sales_report.aspx?c_id="/>
    <add key="ReportForPrint" value="https://dheya.com/corptest/Reportforprint.aspx?c_id="/>-->
    
    <!--Offline-->
    <!-- <add key="TestReportlink" value="https://localhost:50788/backend2016/corptest/ReportDownload.aspx?c_id="/> -->
    <!-- <add key="ReportForPrintlink" value="https://localhost:50788/backend2016/Corptest/DownloadPrintReport.aspx?c_id="/> -->
    <!-- <add key="Graphlink" value="https://localhost:50788/backend2016/corptest/DownloadGraph.aspx?c_id="/> -->

    <add key="View" value="https://localhost:8983/Candidate/viewGraph.aspx?c_id=" />
    <add key="Download" value="https://localhost:8983/Candidate/DownloadGraph.aspx?c_id=" />
    <add key="PDReport" value="https://localhost:8983/Candidate/PDReport.aspx?c_id=" />
    <add key="CompetencyReport" value="https://localhost:8983/Candidate/sales_report.aspx?c_id=" />
    <add key="ReportForPrint" value="https://localhost:8983/Candidate/Reportforprint.aspx?c_id=" />


    <add key="BCCWelcomeEmailManual" value="sanket.a@dheya.com" />
    <add key="BCCWelcomeEmail" value="sanket.a@dheya.com" />
    <!--online-->
    <add key="LoginPageTicketSuccessPath" value="https://www.dheya.com/cdf-dashboard/ticketsuccess.aspx" />
    <add key="ViewTicketsPath" value="https://www.dheya.com/cdf-dashboard/ticket/ViewTickets.aspx" />
    <add key="ReferralSuccessPath" value="https://www.dheya.com/cdf-dashboard/leads/referral_success.aspx" />

    <!--Offline-->
    <!-- <add key="LoginPageTicketSuccessPath" value="https://localhost:5968//ticketsuccess.aspx"/> -->
    <!-- <add key="ViewTicketsPath" value="https://localhost:5968/ticket/ViewTickets.aspx"/> -->
    <!-- <add key="ReferralSuccessPath" value="https://localhost:5968/leads/referral_success.aspx"/> -->

    <add key="CRMDataPushlink" value="https://dheya.bitrix24.in/pub/form/6_dheya_career_development_facilitator_a_proud_tag_to_wear/ah6w2j/" />
    <!--<add key="CRMDataPushlink" value="https://dheya.bitrix24.in/crm/lead/details/0/"/>-->
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1000000000" />
      </requestFiltering>
    </security>

    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    
    <!--<add name="DBConnection" connectionString="Data Source=ADMIN-PC;Initial Catalog=MobileAppDB1;Integrated Security=True" />-->
   
    <!--ONLINE-->
    <!--<add name="DBConnection" connectionString="Data Source=dheyadb.cdumi3vojuqo.ap-southeast-1.rds.amazonaws.com,1433;Initial Catalog=MobileAppDB1;MultipleActiveResultSets=true;User ID=dheya_admin;Password=dheya2015;Connection Timeout=10000" providerName="System.Data.SqlClient"/>
    <add name="career_ConnectionStringNew" connectionString="Data Source=dheyadb.cdumi3vojuqo.ap-southeast-1.rds.amazonaws.com,1433;Initial Catalog=MobileAppDB1;MultipleActiveResultSets=true;User ID=dheya_admin;Password=dheya2015;Connection Timeout=10000" providerName="System.Data.SqlClient"/>-->
    <!--ONLINE-->
    
    <!--Offline-->
    <add name="DBConnection" connectionString="Data Source=dheyadb.cdumi3vojuqo.ap-southeast-1.rds.amazonaws.com,1433;Initial Catalog=TestMobileAppDB1;MultipleActiveResultSets=true;User ID=dheya_admin;Password=dheya2015;Connection Timeout=10000" providerName="System.Data.SqlClient" />
    <add name="career_ConnectionStringNew" connectionString="Data Source=dheyadb.cdumi3vojuqo.ap-southeast-1.rds.amazonaws.com,1433;Initial Catalog=TestMobileAppDB1;MultipleActiveResultSets=true;User ID=dheya_admin;Password=dheya2015;Connection Timeout=10000" providerName="System.Data.SqlClient" />
    <!--Offline--> 
    <add name="institueSearch_ConnectionStringNew" connectionString="Data Source=dheyadb.cdumi3vojuqo.ap-southeast-1.rds.amazonaws.com,1433;Initial Catalog=cyberind_dheya;User ID=dheya_admin;Password=dheya2015;Connection Timeout=10000" providerName="System.Data.SqlClient" />
    <add name="career_portalConnectionString" connectionString="Data Source=dheyadb.cdumi3vojuqo.ap-southeast-1.rds.amazonaws.com,1433;Initial Catalog=cyberind_dheya;User ID=dheya_admin;Password=dheya2015;Connection Timeout=10000" providerName="System.Data.SqlClient" />
    <add name="career_portalConnectionString_simsr" connectionString="Data Source=dheyadb.cdumi3vojuqo.ap-southeast-1.rds.amazonaws.com,1433;Initial Catalog=cyberind_simsr;User ID=dheya_admin;Password=dheya2015;Connection Timeout=10000" providerName="System.Data.SqlClient" />   
    
   
    
    <!--MySQL CRM AWS RDS Connection String-->
    <add name="CRM_ConnectionString" connectionString ="server=dheyacrmdb.cdumi3vojuqo.ap-southeast-1.rds.amazonaws.com;Port=3306;Database=suitecrm;Uid=dheyadb;Pwd=goal2017;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.net>
  </system.net>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Windows" />
    <pages controlRenderingCompatibilityVersion="3.5" enableViewStateMac="false" enableEventValidation="false" viewStateEncryptionMode="Never" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>

    <caching>
      <cache disableExpiration="true" />
    </caching>
    <sessionState mode="InProc" cookieless="false" timeout="10000">
    </sessionState>
    <customErrors mode="Off" />

    <httpRuntime maxRequestLength="2048576000" />
  </system.web>

<!--<system.webserver>
  <httpRedirect enabled="false" destination="" httpResponceStatus="Found">
    <rewrite>
      <rules name="HTTP to HTTPS Redirection" stopProcessing="true">
        <match url="(.*)"></match>
        <conditions>
          <add input="{HTTPS}" pattern="off"></add>
        </conditions>
      <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Found">
      </action>
      </rules>
    </rewrite>
  </httpRedirect>
  </system.webserver>

<system.webServer>
    <rewrite>
      <rules>
			<rule name="WordPress: https://www.dheya.com" patternSyntax="Wildcard">
				<match url="*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
				<action type="Rewrite" url="index.php" />
				
			</rule>
			 </rule>
                    <rule name="redirect https" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                        <match url="(.*)/(.*)" />
                        <conditions>
                            <add input="{HTTPS}" pattern="^OFF$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                    </rule>
			</rules>
    </rewrite>
        <httpRedirect enabled="true" />
		

  </system.webServer>-->
  

  <!--<system.web xmlns="">
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>-->

</configuration>
